body {
  background-color: #B5FFD9;
}

hr {
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 100%;
}
h1{
  color : #290FBA;
}
h2{
  color: #2D46B9;
}
h3{
  color : #2D46B9;
}
